body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}
div#app {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
}

div#form {
  grid-column: 1 / span 2;
  padding: 8px;
  background-color: #ccc;
}

div#form input[type=text], 
div#form input[type=number]{
  padding: 8px;
  border-radius: 4px;
  border: none;
  margin: 4px;
}

div#form button {
  background-color: black;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  color: white;
}

table#grid { 
  margin: 8px;
  border-spacing: 0;
  border-collapse: collapse;
}
table#grid th,
table#grid td {
  border: 1px solid black;
  padding: 4px;
}

table#grid tr > td:nth-child(2) {
  text-align: right;
}

table#grid th {
  background-color: black;
  color: white;
}

div#summary {
  margin: 8px;
  background-color: #efefef;
  border: 1px solid #dedede;
  padding-bottom: 8px;
}
div#summary h2 {
  text-align: center;
  background-color: black;
  color: white;
  padding: 4px;
  margin: 0;
  font-size: 18px;
}

div#summary h3, 
div#summary p{
  text-align: center;
  margin: 0;
}

div#summary h3 {
  margin-top: 8px;
}